Flask==1.1.2
Flask-Cors==3.0.9
Flask-WTF==0.14.3
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-speech==2.0.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.33.2
gTTS==2.2.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
proto-plus==1.11.0
protobuf==3.13.0
redis==3.5.3
WTForms==2.3.3
